<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
<%- include('partials/_header.ejs') %>
<%- include('partials/_flashMessages.ejs') %>
<main role="main" class="container mt-4">
    <!-- Page specific content will go here -->
</main>
<%- include('partials/_footer.ejs') %>
<script src="/js/main.js"></script>
</body>
</html>