<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head') %>
    <title>No Permissions</title>
</head>
<body>
    <%- include('partials/_header') %>
    <div class="container mt-5">
        <div class="alert alert-warning" role="alert">
            Please contact Al-Tarabot Technology Communications and Information Technology Company to grant you the permission to request and manage licenses for Siraj or Crystal programs.
        </div>
    </div>
    <%- include('partials/_footer') %>
</body>
</html>